body {
  background: #2c3748;
}

h1 {
  color: #ffa803;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

header {
  min-height: 80vh;
}

p {
  color: white;
}
section {
  min-height: 80vh;
}

.about {
  background-color: grey;
  text-align: center;
}

.hero {
  margin: 2rem 0;
  text-align: center;
}

.hero-image {
  background-color: white;
  border-radius: 50%;
  height: 50vh;
  margin: 2rem 0;
  width: 50vh;
}

.projects {
  background-color: grey
}

.skills {
  color: white
  text-align: center;
}

.titles {
  margin: 2rem 0;
  text-align: center;
}
