body {
  /* background: #2c3748; */
}

h1 {
  color: #ffa803;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

header {
  min-height: 80vh;
}

html {
  scroll-behavior: smooth;
}

p {
  color: white;
}
section {
  min-height: 80vh;
  background-color: grey
}

.about {
  background-color: grey;
  text-align: center;
}

.hero {
  margin: 2rem 0;
  text-align: center;
}

.hero-image {
  background-color: white;
  border-radius: 50%;
  height: 50vh;
  margin: 2rem 0;
  width: 50vh;
}

.parallax {
  background-attachment: fixed;
  background-image: url("../public/birds-cold-conifer-917494.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}

.projects {

}

.knowledge {
  color: white
  text-align: center;
}

.titles {
  margin: 2rem 0;
  text-align: center;
}
